<%- include('../header') %>

<div class="container-fluid py-4">


  <% if (locals?.message?.success) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= locals?.message?.success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

  <div class="row ">
    <div class="col-md-4">
      <div class="card shadow-lg">
      </div>
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-dark border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Edit Product</h6>
        </div>
        <div class="card-body">
          <form method="post" action="/product/updateproduct" enctype="multipart/form-data">
            <input type="hidden" name="editid" value="<%= single?.id %>" />
            
           
       
      
          
            <div class="mb-3">
                <label for="" class="text-dark">Product:- </label>
                   <input type="text" name="name" value="<%= single.name %>" class="form-control  shadow-lg p-2 mb-2 bg-body-tertiary rounded" placeholder="Enter product name" required>
                 </div>
                 <div class="mb-3">
                  <label for="" class="text-dark">Qty:- </label>
                     <input type="number" name="qty" value="<%= single.qty %>" class="form-control  shadow-lg p-2 mb-2 bg-body-tertiary rounded" placeholder="Enter product price" required>
                   </div>
                 <div class="mb-3">
                    <label for="" class="text-dark">Price:- </label>
                       <input type="number" name="price" value="<%= single.price %>" class="form-control  shadow-lg p-2 mb-2 bg-body-tertiary rounded" placeholder="Enter product price" required>
                     </div>
                     <div class="mb-3">
                        <label for="" class="text-dark">Description:- </label>
                           <input type="text" name="description" value="<%= single.description %>" class="form-control  shadow-lg p-2 mb-2 bg-body-tertiary rounded" placeholder="Enter description" required>
                         </div>
                         <div class="mb-3">
                            <label for="" class="text-dark">Image:- </label>
                               <input type="file" name="avatar" value="<%= single.avatar %>" class="form-control  shadow-lg p-2 mb-2 bg-body-tertiary rounded" placeholder="Enter Image" required>
                             </div>
                             
                         
          <div class="d-grid">
  <button type="submit" class="btn btn-dark bg-gradient shadow-lg rounded-pill px-4 py-2 fw-bold text-white">
    Submit
  </button>
</div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
    const categoryRecord = () => {
        let categoryid = document.getElementById('category').value;
        $.ajax({
            type: "GET",
            url: `/exsubcategory/ajaxcategorywiserecord?categoryId=${categoryid}`,
            success: function (res) {
                let subcategory = res.subcategory;
                let tbl = `<option value="">--- Select Subcategory ---</option>`;
                subcategory.map((subcat) => {
                    tbl += `<option value="${subcat._id}">${subcat.subcategory}</option>`;
                });
                document.getElementById('subcategory').innerHTML = tbl;
                document.getElementById('exsubcategory').innerHTML = `<option value="">--- Select Exsubcategory ---</option>`; // Reset exsubcategory
            }
        });
    }

    const subcategoryRecord = () => {
        let subcategoryid = document.getElementById('subcategory').value;
        $.ajax({
            type: "GET",
            url: `/product/ajaxsubcategorywiserecord?subcategoryId=${subcategoryid}`,
            success: function (res) {
                let exsubcategory = res.exsubcategory;
                let tbl = `<option value="">--- Select Exsubcategory ---</option>`;
                exsubcategory.map((exsub) => {
                    tbl += `<option value="${exsub._id}">${exsub.exsubcategory}</option>`;
                });
                document.getElementById('exsubcategory').innerHTML = tbl;
            }
        });
    }
</script>

