<%- include('../header') %>

<div class="container-fluid py-2">
  <div class="row">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div class="bg-dark border-radius-lg pt-4 pb-3">
        <h6 class="text-white text-capitalize ps-3">View Product</h6>
      </div>
    <div class="col-12">
      <div class="card my-4 border-0">
        <div class="card-body px-4 pb-2">
          <div class="row">
            <% products.map((product, i) => { %>
              <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0">
                  <img src="<%= product?.image %>" class="card-img-top rounded-top" alt="Product Image" style="height: 200px; object-fit: cover;">
                  <div class="card-body text-center bg-light">
                    <h5 class="card-title text-dark fw-bold mb-1"><%= product?.name %></h5>
                    <p class="card-text text-secondary"><%= product?.description %></p>
                    <p class="card-text text-success fw-bold"><%= product?.price %> Rs.</p>
                    <div class="d-flex justify-content-center gap-2">
                      <a href="/product/editproduct?id=<%= product?.id %>" class="btn btn-sm btn-outline-primary">Edit</a>
                      <a href="/product/deleteproduct?id=<%= product?.id %>" class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
